In [2]:
import pandas

In [4]:
df = pandas.read_csv('dataset_diabetes/diabetic_data.csv')

In [16]:
df.groupby('diabetesMed').count()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,readmitted
diabetesMed,,,,,,,,,,,,,,,,,,,,,
No,23403,23403,23403,23403,23403,23403,23403,23403,23403,23403,...,23403,23403,23403,23403,23403,23403,23403,23403,23403,23403
Yes,78363,78363,78363,78363,78363,78363,78363,78363,78363,78363,...,78363,78363,78363,78363,78363,78363,78363,78363,78363,78363

In [22]:
len(set(df['patient_nbr']))

71518

In [23]:
len(df)

101766